@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  border: none;
}

body {
  font-family: poppins;
  overflow-x: hidden;
}

.signup-main {
  background-color: #030303;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  overflow-y: hidden;
}

.signup-container {
  padding: 0 2.3rem;
  width: 38%;
}

.logo-s {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.logo-snapgram {
  width: 1.9rem;
  height: auto;
  gap: 0.5rem;
}

.signup-container h3 {
  text-align: center;
  font-size: 1.8rem;
}

.signup-container h4 {
  text-align: center;
  margin-bottom: 0.3rem;
  font-size: 1.1rem;
}

.signup-container p {
  font-size: 0.85rem;
  color: #6e6c6c;
  text-align: center;
  font-weight: 600;
  margin: 0.7rem 0;
}

.signup-container form {
  display: flex;
  flex-direction: column;
}

.signup-container form label {
  font-size: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 0.2rem;
}

.signup-container form input {
  padding: 0.7rem;
  border: none;
  border-radius: 0.3rem;
  outline: none;
  background-color: #444444;
  color: #fff;
}

.signup-container form .btn-signup {
  margin-top: 1.3rem;
  padding: 0.6rem 3rem;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  background-color: hsl(252, 67%, 51%);
  color: #fff;
}

.signup-container form .btn-google {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.4rem 3rem;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  background-color: #3648f1;
  color: #fff;
}

.signup-container form .btn-google:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: all 300ms ease;
}

.signup-container form .btn-signup:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: all 300ms ease;
}

.signup-container form .login-badge {
  color: hsl(252, 60%, 46%);
  text-decoration: none;
}

.back-image {
  width: 65%;
  height: 100vh;
}

.back-image img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
}

@media screen and (max-width: 800px) {
  .signup-main {
    width: 100vw;
    height: 100vh;
  }
  .signup-container {
    /* margin: 50% 0; */
    width: 100%;
  }

  .back-image {
    display: none;
  }
}
