.container-profile-photo {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0.7rem;
  gap: 1rem;
  background-color: var(--color-light);
  border-radius: var(--card-border-radius);
  margin: 1rem 0;
}

.container-profile-photo h3 {
  font-size: 1rem;
}
.profile-info h3 {
  color: var(--color-gray);
}

.edit-profile-picture img {
  width: 4.5rem;
  height: 4.5rem;
  align-self: start;
  border-radius: 50%;
  object-fit: cover;
}

.edit-profile-picture img:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: all 400ms ease;
}

.error-message {
  font-size: 0.9rem;
  color: red;
  margin: 0.2rem 0;
}