.messages-container {
  display: flex;
  height: 85vh;
  max-width: 2000px;
  margin-top: 4.5rem;
  justify-content: center;
  overflow: hidden;
}

.chat-list {
  width: 35%;
  background-color: var(--color-light);
  overflow-y: auto;
  border-right: 1px solid var(--color-gray);
  padding: 1rem;
}

.chat-list-title {
  font-size: 1.5rem;
  color: var(--color-dark);
  margin-bottom: 1rem;
  text-align: center;
}

.chat-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1rem;
  border-radius: var(--card-border-radius);
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chat-item.active {
  background-color: var(--color-primary);
  color: var(--color-dark);
}

.chat-item:hover {
  background-color: var(--color-white);
  color: var(--color-dark);
}

.chat-info {
  display: flex;
  flex-direction: column;
}

.chat-name {
  font-size: 1rem;
  font-weight: bold;
}

.chat-last-message {
  font-size: 0.9rem;
  color: var(--color-gray);
}

.chat-time {
  font-size: 0.8rem;
  color: var(--color-gray);
}

.chat-view {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.no-chat-selected {
  color: var(--color-gray);
  font-size: 1.2rem;
  text-align: center;
}

.chat-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chat-header {
  font-size: 1.5rem;
  color: var(--color-dark);
  margin-bottom: 1rem;
  text-align: center;
}

.chat-messages {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.message {
  padding: 0.8rem;
  border-radius: var(--card-border-radius);
  max-width: 60%;
  word-wrap: break-word;
}

.message.received {
  background-color: var(--color-light);
  align-self: flex-start;
}

.message.sent {
  background-color: var(--color-light);
  color: var(--color-dark);
  align-self: flex-end;
}

.chat-input-box {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  gap: 0.5rem;
  border-top: 1px solid var(--color-gray);
}

.chat-input {
  flex: 1;
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: var(--card-border-radius);
  background-color: var(--color-white);
  color: var(--color-dark);
}

.chat-send-btn {
  padding: var(--btn-padding);
  font-size: 1rem;
  color: var(--color-white);
  background-color: var(--color-primary);
  border: none;
  border-radius: var(--card-border-radius);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chat-send-btn:hover {
  opacity: 0.6;
  transition: all 0.3s ease;
}
