.profile-container {
  width: 70vw;
  margin: 0 auto;
}

.profile-header {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
}

.profile-picture img {
  width: 10rem;
  height: 10rem;
  align-self: start;
  border-radius: 50%;
  object-fit: cover;
}

.profile-picture img:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: all 400ms ease;
}

.profile-description {
  margin: 1rem;
  /* width: 100%; */
}

.profile-description.small-device {
  display: none;
}

.profile-description p {
  font-size: 0.9rem;
  line-height: 1.4rem;
  color: var(--color-dark);
}

.edit-profile {
  width: 100%;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
}

.user-info h4 {
  font-size: 1.1rem;
  margin: 0;
}

.user-info h5 {
  color: var(--color-gray);
  margin: 5px 0;
  font-size: 0.9rem;
  font-weight: 400;
}

.profile-info p {
  width: 25vw;
  margin: 10px 0;
  font-size: 0.9rem;
}

.edit-profile-btn {
  display: inline-block;
  padding: 0.6rem 1.5rem;
  font-weight: 500;
  border-radius: 8px;
  font-size: 0.85rem;
  margin-bottom: 1.8rem;
  background-color: var(--color-white);
  color: var(--color-dark);
}

.profile-info button:hover {
  cursor: pointer;
  transition: all 400ms ease;
  opacity: 0.7;
}

.follower-info {
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
}

.follower-info span {
  margin: 1rem 0;
}

.profile-posts {
  gap: 10px;
  margin-top: 20px;
}
/* 
.profile-fade-in {
  animation: fadeInProfile 0.5s ease-in-out;
}

@keyframes fadeInProfile {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
} */

/* User not found */
.user-not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.user-not-found-card {
  text-align: center;
  padding: 2rem 3rem;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.user-not-found-card h2 {
  color: var(--color-dark);
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.go-to-snapgram {
  color: var(--color-primary);
  cursor: pointer;
  text-decoration: underline;
}

/* Profile photo styling */
.profile-photo {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #ccc;
}

/* Modal overlay (background blur) */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  z-index: 1000;
}

/* Modal content styling */
.profile-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
}

.profile-modal-content ul {
  list-style-type: none;
  padding: 0;
}

.profile-modal-content li {
  margin: 10px 0;
  cursor: pointer;
}

.profile-modal-content li:hover {
  text-decoration: underline;
}

.cancel-button {
  color: red;
  font-weight: bold;
}

/* Animation for smoother modal appearance */
.modal-overlay {
  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ==========================POSTS CSS============================== */
.posts {
  width: 75vw;
  margin-top: 2rem;
  height: auto;
}

.post-title {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: var(--color-black);
  /* margin: 0.7rem auto; */
}

.post-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.divider {
  height: 0.5px;
  background-color: var(--color-dark);
  margin: 16px 0;
  width: 100%;
}

.post-card {
  display: flex;
  position: relative;
  overflow: hidden;
  font-size: 0.85rem;
  line-height: 1.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.post-card .feed {
  width: 96vw;
}

.post-details {
  display: none;
  width: 50%;
  padding: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
}

.post-details p,
.post-details ul {
  margin: 8px 0;
}

.post-details ul {
  padding-left: 16px;
}

.post-details li {
  margin-bottom: 4px;
}

.post-image {
  width: 100%;
  height: auto;
  display: block;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: var(--card-border-radius);
}

.post-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #202528;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.post-card:hover,
.post-overlay {
  transform: scale(1.08);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  /* opacity: 0.8; */
}

.post-likes {
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
}

/* ============================PostModal CSS===================================== */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  display: flex;
  align-items: center;
  background: var(--color-background);
  width: 80%;
  height: 90%;
  max-width: 1600px;
  overflow: hidden;
  position: relative;
  box-shadow: 2px 2px 10px rgba(64, 47, 47, 0.3);
}

.modal-image {
  width: 50%;
  height: auto;
  display: block;
  margin-right: 1rem;
}

.modal-details {
  padding: 0 var(--card-padding);
  padding: 0.3rem;
  /* width: 50%; */
  height: 90%;
}

.modal-details .caption {
  position: absolute;
  top: 5rem;
  margin: 0 10px;
}

.modal-details .user {
  position: absolute;
  top: 1.5rem;
  gap: 1rem;
}

.modal-details .head .user .ingo h3 {
  font-size: 0.85rem;
}

.modal-details .head .user .ingo {
  margin: 0.3rem 0;
  line-height: 1rem;
}

.modal-details .head .user .ingo h3 {
  margin-bottom: 0.3rem;
}

.timeAgo {
  position: absolute;
  top: 1.7rem;
  right: 3rem;
}

.modal-details .head .edit {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
}

.close-button {
  background: transparent;
  color: var(--color-dark);
  border: none;
  cursor: pointer;
  position: absolute;
  top: 2rem;
  right: 3rem;
  z-index: 2000;
}

@media (max-width: 1250px) {
  .modal-content {
    height: auto;
  }
}

@media (max-width: 900px) {
  .modal-backdrop {
    display: none;
  }
  .post-card {
    width: 30vw;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .profile-container {
    width: 95vw;
  }

  .post-card:hover,
  .post-overlay {
    transform: none;
    cursor: pointer;
  }

  .edit-profile-btn {
    /* padding: 0.3rem 1rem;
    font-weight: 300;
    border-radius: 7px;
    font-size: 0.75rem; */
    /* margin-bottom: 1.5rem; */
    display: none;
  }

  .profile-header {
    width: 70vw;
    gap: 2rem;
  }
}

@media screen and (max-width: 650px) {
  .profile-container {
    width: 98vw;
    margin: 1rem auto;
  }

  .profile-header {
    width: 100vw;
    gap: 0.1rem;
    align-items: normal;
  }

  .post-image,
  .post-details {
    display: block;
    width: 100%;
  }

  .edit-profile h4 {
    font-size: 1.1rem;
  }

  .profile-description.small-device {
    display: block;
  }

  .profile-description.large-device {
    display: none;
  }

  .profile-description p {
    font-size: 0.85rem;
    line-height: 1.4rem;
    color: var(--color-dark);
  }

  .profile-picture img {
    width: 6.5rem;
    height: 6.5rem;
  }

  .post-card {
    width: 100vw;
    margin: 0 auto;
  }

  .post-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
