.profile-container {
  width: 70vw;
  margin: 0 auto;
  padding: var(--card-padding);
}

.profile-header {
  width: 45vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
}

.profile-picture img {
  width: 8.5rem;
  height: 8.5rem;
  align-self: start;
  border-radius: 50%;
  object-fit: cover;
}

.profile-picture img:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: all 400ms ease;
}

.profile-description.small {
  display: none;
}

.profile-description {
  margin: 1rem;
  width: 100%;
}

.edit-profile {
  width: 100%;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
}

.user-info h4 {
  font-size: 1rem;
  margin: 0;
}

.user-info h5 {
  color: var(--color-gray);
  margin: 5px 0;
  font-size: 0.85rem;
  font-weight: 400;
}

.profile-info p {
  margin: 10px 0;
  font-size: 0.9rem;
}

.edit-profile-btn {
  display: inline-block;
  padding: 0.6rem 1.7rem;
  font-weight: 500;
  border-radius: 10px;
  font-size: 0.85rem;
  margin-bottom: 1.8rem;
  margin-top: 0.4rem;
  background-color: var(--color-white);
  color: var(--color-dark);
}

.profile-info button:hover {
  cursor: pointer;
  transition: all 400ms ease;
  opacity: 0.7;
}

.follower-info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.follower-info span {
  margin: 1rem 0;
}

.profile-posts {
  gap: 10px;
  margin-top: 20px;
}

/* ==========================POSTS CSS============================== */
.posts {
  width: 75vw;
  height: auto;
}

.post-title {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: var(--color-black);
  margin: 0.7rem auto;
}

.divider {
  height: 0.5px;
  background-color: var(--color-dark);
  margin: 16px 0;
  width: 100%;
}

.post-card {
  display: flex;
  position: relative;
  overflow: hidden;
  font-size: 0.85rem;
  line-height: 1.5rem;
}

.post-card .head {
  display: none;
}

.post-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 16px;
}

.post-details {
  display: none;
  width: 50%;
  padding: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
}

.post-details p,
.post-details ul {
  margin: 8px 0;
}

.post-details ul {
  padding-left: 16px;
}

.post-details li {
  margin-bottom: 4px;
}

.post-image {
  width: 100%;
  height: auto;
  display: block;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: var(--card-border-radius);
}

.post-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #202528;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.post-card:hover .post-overlay {
  cursor: pointer;
  opacity: 0.6;
}

.post-likes {
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
}

/* ============================PostModal CSS===================================== */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  display: flex;
  align-items: center;
  background: var(--color-white);
  width: 80%;
  height: 90%;
  max-width: 1600px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.modal-image {
  width: 50%;
  height: auto;
  display: block;
  margin-right: 1rem;
}

.modal-details {
  padding: 0 var(--card-padding);
  padding: 0.3rem;
  /* width: 50%; */
  height: 90%;
  background-color: var(--color-white);
}

.modal-details .caption {
  position: absolute;
  top: 5rem;
  margin: 0 10px;
}

.modal-details .user {
  position: absolute;
  top: 1.5rem;
}

.modal-details .head .edit {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
}

.close-button {
  background: transparent;
  color: var(--color-dark);
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 2px;
  z-index: 2000;
}

/* ====================COMMENT BOX CSS========================= */
.comment-box {
  width: 100%;
  height: 80%;
  max-width: 100%;
  background: var(--color-white);
  padding: 10px;
}

.comments-section {
  overflow: auto;
  width: 36vw;
  max-height: 35vh;
  margin: 1.2rem 0;
}

.user-comment {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 1250px) {
  .comments-section {
    width: 35vw;
    max-height: 20vh;
  }
}

@media (max-width: 1050px) {
  .comments-section {
    width: 35vw;
    max-height: 5vh;
  }
}

.comment {
  margin: 5px 0;
  font-size: 0.9rem;
  line-height: 1.2;
}

.no-comments {
  color: var(--color-dark);
  font-size: 0.85rem;
}

.add-comment-section {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-top: 1rem;
}

.add-comment-section input {
  width: 100%;
  flex: 1;
  padding: 10px;
  border: 1px solid var(--color-primary-variant);
  font-size: 0.9rem;
  background-color: var(--color-white);
  color: var(--color-dark);
  border-radius: 20px;
}

.add-comment-section input:focus {
  outline: none;
  border: 1px solid var(--color-gray);
}

.add-comment-section button {
  background: transparent;
  color: var(--color-gray);
  font-size: 0.9rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.add-comment-section button:disabled {
  color: #b2dffc;
  cursor: not-allowed;
}

@media (max-width: 800px) {
  .modal-backdrop {
    display: none;
  }
}

@media (max-width: 1250px) {
  .modal-content {
    height: auto;
  }
}

@media (max-width: 768px) {
  .profile-container {
    width: 87vw;
  }

  .post-title {
    display: none;
  }

  .post-grid {
    grid-template-columns: 1fr;
  }

  .post-card {
    width: 83vw;
    flex-direction: column;
  }

  .post-image,
  .post-details {
    display: block;
    width: 100%;
  }

  .post-card:hover .post-overlay {
    cursor: pointer;
    opacity: 0;
  }
}

@media screen and (max-width: 650px) {
  .profile-description {
    margin: 1rem auto;
  }

  .edit-profile h4 {
    font-size: 1rem;
  }

  .profile-description.small {
    display: block;
  }

  .profile-description.large {
    display: none;
  }

  .profile-picture {
    margin-right: 2rem;
  }

  .profile-picture img {
    width: 6rem;
    height: 6rem;
    align-items: start;
  }

  .post-card {
    width: 90vw;
  }
}
