.settings-container {
  max-width: 800px;
  margin-bottom: 1rem;
  padding: 1.3rem;
}

.settings-section {
  margin-bottom: 1.5rem;
}

.settings-section h2 {
  font-size: 1.25rem;
  color: var(--color-dark);
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--color-primary);
  padding-bottom: 0.5rem;
}

.settings-section ul li {
  font-size: 1.05rem;
  padding: 0.8rem 1rem;
  border-radius: var(--card-border-radius);
  transition: background-color 0.3s ease;
  cursor: pointer;
  color: var(--color-dark);
}

.settings-section ul li:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.settings-section ul li  button {
  background: transparent;
  color: var(--color-dark);
}

.settings-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1rem;
}

.settings-save {
  text-align: center;
  margin-top: 2rem;
}

.settings-save button {
  padding: var(--btn-padding);
  font-size: 1.2rem;
  color: var(--color-white);
  background-color: var(--color-primary);
  border: none;
  border-radius: var(--card-border-radius);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.settings-save button:hover {
  background-color: var(--color-dark);
}

@media screen and (max-width: 650px) {
  .settings-container {
    margin-bottom: 1rem;
    padding: 1.3rem;
  }

  .settings-title {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 1.3rem;
    color: var(--color-dark);
  }

  .settings-section {
    margin-bottom: 1.3rem;
  }

  .settings-section h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}
